{% extends 'base.html' %}
{% block title %} Botifyapp | Login {% endblock %}
{% block content %}
<div class="container mx-auto mt-4">

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="mb-4 mt-4">
           {{ form.email }}
        </div>
        <div class="mb-4 mt-4">
            {{ form.password }}
         </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
        {% if form.error %}
            <p class="text-red-500">{{ form.error }}</p>
        {% endif %}
    </form>
    
</div>

{% endblock %}
