 {% extends 'base.html' %}
 {% block title %} Botifyapp | Login {% endblock %}
{% block content %}
<div class="container">
    <form  action="{% url 'users:login' %}" method="post" style="margin-top: 50px;">
        {% csrf_token %}
        {% for field in form %} 
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                {{ field }}
                {% if field.name == 'password' %}
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                {% else %}
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                {% endif %}
            </p>
        </div>
        {% endfor %}
        <div class="field">
            <p class="control">
            <button class="button is-dark" type="submit">
                Login
            </button>
            </p>
        </div>
        {% if error %}
            <p class="help is-danger">{{error}}</p>
        {% endif %}
            
    </form>
</div>

{% endblock %}
