{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Botifyapp | Media  {% endblock %}
{% block content %}
<div class="container mx-auto mt-4">
  <div class="grid mt-2 grid-cols-1 gap-4">
      <div class="mt-8">
        <video controls class="w-full h-[50vh]">
          <source src="{{song.file.url}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <h4 class="text-cyan-50 ml-2">Title: {{song.title}}</h4>
        <p class="text-cyan-50 ml-2">Description: {{song.description}}</p>
        {% convert_date song.created_at as converted_date %}
        <p class="text-cyan-50 ml-2"><time datetime="2016-1-1">Uploaded: {{ converted_date }}</time></p>
      </div>
      <div class="mr-2 ml-2 mmt-4">
        <form action="{% url 'songs:detail' song.id %}" method="POST">
          {% csrf_token %}
          {% for field in comment_form %}
            <div>
              <!-- <label class="label">{{field.label}}</label> -->
              {{field}}
            </div>
          {% endfor %}
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Comment</button>
          <button type="button" class="bg-white text-black px-4 py-2 rounded">Cancel</button>

        </form>
      </div>
      {% for comment in song.comment_set.all %}
          <div class="mt-4 ml-2 mr-2">
            <ul class="list-none">
              {% convert_date comment.created_at as converted_coment_date %}
                <li class="text-cyan-50">User: {{comment.user}}</li>
                <li class="text-cyan-50">comment: {{comment.content}}</li>
                <li class="text-cyan-50">commented on: {{converted_coment_date}}</li>
            </ul>
          </div>
      {% endfor %}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var video = document.querySelector('video');
    video.addEventListener('contextmenu', function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
