{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row mt-6">
    <div class="col s12">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.help_text %}<span class="tag is-white">{{field.help_text}}</span>{% endif %}{{ field }}
        {% endfor %}
        <div class="input-field col s12 mt-2">
          <button class="button is-dark" type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
