{% extends 'base.html' %}
{% load static %}
{% block title %} Botifyapp | Login  {% endblock %}
{% block content %}
  <div class="container mx-auto mt-4">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.help_text %}<span class="tag is-white">{{field.help_text}}</span>{% endif %}{{ field }}
        {% endfor %}
          <button class="bg-blue-500 text-white px-4 py-2 rounded" type="submit">Upload</button>
      </form>
  </div>
{% endblock %}
