
{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
  <title>{% block title %}{% endblock %}</title>
</head> 
  <body class="bg-slate-950"></body>
   {% include "nav.html" %}
    {% block content %}
    {% endblock %}
  </body>
  <script>
    // grab the delete button
    const deleteButton = document.querySelector('#delete');
    // add an event listener to the delete button
    if(deleteButton){
      deleteButton.addEventListener('click', function() {
        // grab the parent element of the delete button
        const parent = deleteButton.parentElement;
        // remove the parent element from the DOM
        parent.remove();
      });
    }
  </script>
</html>