{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Botify | Dashboard {% endblock %}
{% block content %}
<div class="columns">
    <!-- First Column -->
    <div class="column">
      <div class="tabs is-right">
        <ul>
          <li class="is-active"><a>Audio</a></li>
          <li><a>Video</a></li>
        </ul>
      </div>
   </div>
</div>
<div class="columns is-multiline">
   {% for song in songs %}
    <div class="column is-3">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Title: {{ song.title }}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>Description: {{ song.description }}</p>
           <p>By: <a href="">{{song.artist.email}}</a></p>
          </div>
          <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
            <ul>
              <li class="is-active"><a href="#">12 Likes</a></li>
              <li><a href="#">4 comments</a></li>
              <li><a href="#"><span class="fa fa-edit"></span></a></li>
            </ul>
          </nav>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">
            <audio controls>
              <source src="{{song.file.url}}" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </a>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
