{% include 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="columns is-centered mt-4">
        <input type="text" id="search" class="input is-rounded is-large" placeholder="Search for a song">
    </div>
    <div class="columns">
        <!-- First Column -->
        <div class="column">
            <div class="tabs is-right">
                <ul>
                <li class="is-active"><a>Audio</a></li>
                <li><a>Video</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
