
 <ul id="dropdown1" class="dropdown-content">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">logout</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">login</a></li>
    {% endif %}
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Botify</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'songs:upload' %}">Upload</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav> 